@font-face {
        font-family: "mimpact"; /* Meme Impact */
        src: url("http://db.onlinewebfonts.com/t/6330ddc0d8e61db73c521dbe6288743b.eot");
        src: url("http://db.onlinewebfonts.com/t/6330ddc0d8e61db73c521dbe6288743b.eot?#iefix") format("embedded-opentype"),
        url("http://db.onlinewebfonts.com/t/6330ddc0d8e61db73c521dbe6288743b.woff2") format("woff2"),
        url("http://db.onlinewebfonts.com/t/6330ddc0d8e61db73c521dbe6288743b.woff") format("woff"),
        url("http://db.onlinewebfonts.com/t/6330ddc0d8e61db73c521dbe6288743b.ttf") format("truetype"),
        url("http://db.onlinewebfonts.com/t/6330ddc0d8e61db73c521dbe6288743b.svg#Impact LT Std") format("svg");
}

html, html * {
        font-family: 'mimpact';
}
